PrjPASS/Service References/ServiceReference4/CustomerPortalService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="http://GCCustomerPortalService" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CustomerPortalService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="GCCustomerPortalServiceGateway_Custom_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:import namespace="http://GCCustomerPortalService" location="http://10.221.16.22/GCCustomerPortalServiceGateway/CustomerPortalService.svc?wsdl=wsdl0" />
  <wsdl:types />
  <wsdl:binding name="GCCustomerPortalServiceGateway_Main" type="i0:ICustomerPortalService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Authenticate">
      <soap:operation soapAction="http://GCCustomerPortalService/ICustomerPortalService/Authenticate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CalculatePremium">
      <soap:operation soapAction="http://GCCustomerPortalService/ICustomerPortalService/CalculatePremium" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveProposal">
      <soap:operation soapAction="http://GCCustomerPortalService/ICustomerPortalService/SaveProposal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHtmlReport">
      <soap:operation soapAction="http://GCCustomerPortalService/ICustomerPortalService/GetHtmlReport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProposalData">
      <soap:operation soapAction="http://GCCustomerPortalService/ICustomerPortalService/GetProposalData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddCustomer">
      <soap:operation soapAction="http://GCCustomerPortalService/ICustomerPortalService/AddCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditCustomer">
      <soap:operation soapAction="http://GCCustomerPortalService/ICustomerPortalService/EditCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ViewCustomer">
      <soap:operation soapAction="http://GCCustomerPortalService/ICustomerPortalService/ViewCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PolicyRenewal_GetData">
      <soap:operation soapAction="http://GCCustomerPortalService/ICustomerPortalService/PolicyRenewal_GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PolicyRenewal_SaveData">
      <soap:operation soapAction="http://GCCustomerPortalService/ICustomerPortalService/PolicyRenewal_SaveData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PolicyRenewal_SaveDataWithoutModification">
      <soap:operation soapAction="http://GCCustomerPortalService/ICustomerPortalService/PolicyRenewal_SaveDataWithoutModification" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CaculateRenewalPremium">
      <soap:operation soapAction="http://GCCustomerPortalService/ICustomerPortalService/CaculateRenewalPremium" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FetchProposalXml">
      <soap:operation soapAction="http://GCCustomerPortalService/ICustomerPortalService/FetchProposalXml" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FetchQuotationXml">
      <soap:operation soapAction="http://GCCustomerPortalService/ICustomerPortalService/FetchQuotationXml" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPolicyScheduleForPortal">
      <soap:operation soapAction="http://GCCustomerPortalService/ICustomerPortalService/GetPolicyScheduleForPortal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPayInSlipSchedule">
      <soap:operation soapAction="http://GCCustomerPortalService/ICustomerPortalService/GetPayInSlipSchedule" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetECoverNoteForPortal">
      <soap:operation soapAction="http://GCCustomerPortalService/ICustomerPortalService/GetECoverNoteForPortal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPolicyRenewalMinimumData">
      <soap:operation soapAction="http://GCCustomerPortalService/ICustomerPortalService/GetPolicyRenewalMinimumData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWorkSheet">
      <soap:operation soapAction="http://GCCustomerPortalService/ICustomerPortalService/GetWorkSheet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRenewalNoticeHtml">
      <soap:operation soapAction="http://GCCustomerPortalService/ICustomerPortalService/GetRenewalNoticeHtml" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveVehicleInspection">
      <soap:operation soapAction="http://GCCustomerPortalService/ICustomerPortalService/SaveVehicleInspection" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadFile">
      <soap:operation soapAction="http://GCCustomerPortalService/ICustomerPortalService/UploadFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWorkSheetForPortal">
      <soap:operation soapAction="http://GCCustomerPortalService/ICustomerPortalService/GetWorkSheetForPortal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRenwalNoticeForPortal">
      <soap:operation soapAction="http://GCCustomerPortalService/ICustomerPortalService/GetRenwalNoticeForPortal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRenwalRejectionForPortal">
      <soap:operation soapAction="http://GCCustomerPortalService/ICustomerPortalService/GetRenwalRejectionForPortal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadClaimFile">
      <soap:operation soapAction="http://GCCustomerPortalService/ICustomerPortalService/UploadClaimFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveDeatailQuote">
      <soap:operation soapAction="http://GCCustomerPortalService/ICustomerPortalService/SaveDeatailQuote" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDocumentDetails">
      <soap:operation soapAction="http://GCCustomerPortalService/ICustomerPortalService/GetDocumentDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveDocumentDetails">
      <soap:operation soapAction="http://GCCustomerPortalService/ICustomerPortalService/SaveDocumentDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPolicyDocumentForPortal">
      <soap:operation soapAction="http://GCCustomerPortalService/ICustomerPortalService/GetPolicyDocumentForPortal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProposalFormForPortal">
      <soap:operation soapAction="http://GCCustomerPortalService/ICustomerPortalService/GetProposalFormForPortal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveOpenCoverNote">
      <soap:operation soapAction="http://GCCustomerPortalService/ICustomerPortalService/SaveOpenCoverNote" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveRouteCoverNote">
      <soap:operation soapAction="http://GCCustomerPortalService/ICustomerPortalService/SaveRouteCoverNote" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBasicPolicyDetails">
      <soap:operation soapAction="http://GCCustomerPortalService/ICustomerPortalService/GetBasicPolicyDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveBatchProcessedFile">
      <soap:operation soapAction="http://GCCustomerPortalService/ICustomerPortalService/SaveBatchProcessedFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PaymentEntry">
      <soap:operation soapAction="http://GCCustomerPortalService/ICustomerPortalService/PaymentEntry" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PaymentAllocation">
      <soap:operation soapAction="http://GCCustomerPortalService/ICustomerPortalService/PaymentAllocation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PaymentTagging">
      <soap:operation soapAction="http://GCCustomerPortalService/ICustomerPortalService/PaymentTagging" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="GCCustomerPortalServiceGateway_Custom" type="i0:ICustomerPortalService">
    <wsp:PolicyReference URI="#GCCustomerPortalServiceGateway_Custom_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Authenticate">
      <soap12:operation soapAction="http://GCCustomerPortalService/ICustomerPortalService/Authenticate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CalculatePremium">
      <soap12:operation soapAction="http://GCCustomerPortalService/ICustomerPortalService/CalculatePremium" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveProposal">
      <soap12:operation soapAction="http://GCCustomerPortalService/ICustomerPortalService/SaveProposal" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHtmlReport">
      <soap12:operation soapAction="http://GCCustomerPortalService/ICustomerPortalService/GetHtmlReport" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProposalData">
      <soap12:operation soapAction="http://GCCustomerPortalService/ICustomerPortalService/GetProposalData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddCustomer">
      <soap12:operation soapAction="http://GCCustomerPortalService/ICustomerPortalService/AddCustomer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditCustomer">
      <soap12:operation soapAction="http://GCCustomerPortalService/ICustomerPortalService/EditCustomer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ViewCustomer">
      <soap12:operation soapAction="http://GCCustomerPortalService/ICustomerPortalService/ViewCustomer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PolicyRenewal_GetData">
      <soap12:operation soapAction="http://GCCustomerPortalService/ICustomerPortalService/PolicyRenewal_GetData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PolicyRenewal_SaveData">
      <soap12:operation soapAction="http://GCCustomerPortalService/ICustomerPortalService/PolicyRenewal_SaveData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PolicyRenewal_SaveDataWithoutModification">
      <soap12:operation soapAction="http://GCCustomerPortalService/ICustomerPortalService/PolicyRenewal_SaveDataWithoutModification" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CaculateRenewalPremium">
      <soap12:operation soapAction="http://GCCustomerPortalService/ICustomerPortalService/CaculateRenewalPremium" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FetchProposalXml">
      <soap12:operation soapAction="http://GCCustomerPortalService/ICustomerPortalService/FetchProposalXml" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FetchQuotationXml">
      <soap12:operation soapAction="http://GCCustomerPortalService/ICustomerPortalService/FetchQuotationXml" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPolicyScheduleForPortal">
      <soap12:operation soapAction="http://GCCustomerPortalService/ICustomerPortalService/GetPolicyScheduleForPortal" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPayInSlipSchedule">
      <soap12:operation soapAction="http://GCCustomerPortalService/ICustomerPortalService/GetPayInSlipSchedule" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetECoverNoteForPortal">
      <soap12:operation soapAction="http://GCCustomerPortalService/ICustomerPortalService/GetECoverNoteForPortal" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPolicyRenewalMinimumData">
      <soap12:operation soapAction="http://GCCustomerPortalService/ICustomerPortalService/GetPolicyRenewalMinimumData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWorkSheet">
      <soap12:operation soapAction="http://GCCustomerPortalService/ICustomerPortalService/GetWorkSheet" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRenewalNoticeHtml">
      <soap12:operation soapAction="http://GCCustomerPortalService/ICustomerPortalService/GetRenewalNoticeHtml" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveVehicleInspection">
      <soap12:operation soapAction="http://GCCustomerPortalService/ICustomerPortalService/SaveVehicleInspection" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadFile">
      <soap12:operation soapAction="http://GCCustomerPortalService/ICustomerPortalService/UploadFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWorkSheetForPortal">
      <soap12:operation soapAction="http://GCCustomerPortalService/ICustomerPortalService/GetWorkSheetForPortal" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRenwalNoticeForPortal">
      <soap12:operation soapAction="http://GCCustomerPortalService/ICustomerPortalService/GetRenwalNoticeForPortal" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRenwalRejectionForPortal">
      <soap12:operation soapAction="http://GCCustomerPortalService/ICustomerPortalService/GetRenwalRejectionForPortal" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadClaimFile">
      <soap12:operation soapAction="http://GCCustomerPortalService/ICustomerPortalService/UploadClaimFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveDeatailQuote">
      <soap12:operation soapAction="http://GCCustomerPortalService/ICustomerPortalService/SaveDeatailQuote" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDocumentDetails">
      <soap12:operation soapAction="http://GCCustomerPortalService/ICustomerPortalService/GetDocumentDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveDocumentDetails">
      <soap12:operation soapAction="http://GCCustomerPortalService/ICustomerPortalService/SaveDocumentDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPolicyDocumentForPortal">
      <soap12:operation soapAction="http://GCCustomerPortalService/ICustomerPortalService/GetPolicyDocumentForPortal" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProposalFormForPortal">
      <soap12:operation soapAction="http://GCCustomerPortalService/ICustomerPortalService/GetProposalFormForPortal" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveOpenCoverNote">
      <soap12:operation soapAction="http://GCCustomerPortalService/ICustomerPortalService/SaveOpenCoverNote" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveRouteCoverNote">
      <soap12:operation soapAction="http://GCCustomerPortalService/ICustomerPortalService/SaveRouteCoverNote" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBasicPolicyDetails">
      <soap12:operation soapAction="http://GCCustomerPortalService/ICustomerPortalService/GetBasicPolicyDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveBatchProcessedFile">
      <soap12:operation soapAction="http://GCCustomerPortalService/ICustomerPortalService/SaveBatchProcessedFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PaymentEntry">
      <soap12:operation soapAction="http://GCCustomerPortalService/ICustomerPortalService/PaymentEntry" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PaymentAllocation">
      <soap12:operation soapAction="http://GCCustomerPortalService/ICustomerPortalService/PaymentAllocation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PaymentTagging">
      <soap12:operation soapAction="http://GCCustomerPortalService/ICustomerPortalService/PaymentTagging" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CustomerPortalService">
    <wsdl:port name="GCCustomerPortalServiceGateway_Main" binding="tns:GCCustomerPortalServiceGateway_Main">
      <soap:address location="http://10.221.16.22/GCCustomerPortalServiceGateway/CustomerPortalService.svc" />
    </wsdl:port>
    <wsdl:port name="GCCustomerPortalServiceGateway_Custom" binding="tns:GCCustomerPortalServiceGateway_Custom">
      <soap12:address location="http://10.221.16.22/GCCustomerPortalServiceGateway/CustomerPortalService.svc/Custom" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://10.221.16.22/GCCustomerPortalServiceGateway/CustomerPortalService.svc/Custom</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Dns>localhost</Dns>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>