PrjPASS/Service References/ServiceReference4/CustomerPortalService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://GCCustomerPortalService" elementFormDefault="qualified" targetNamespace="http://GCCustomerPortalService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://10.221.16.22/GCCustomerPortalServiceGateway/CustomerPortalService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GCCustomerPortalBL" />
  <xs:element name="Authenticate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthenticateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AuthenticateResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CalculatePremium">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strLVAuthToken" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/GCCustomerPortalBL" minOccurs="0" name="objServiceResult" nillable="true" type="q1:ServiceResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CalculatePremiumResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/GCCustomerPortalBL" minOccurs="0" name="objServiceResult" nillable="true" type="q2:ServiceResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveProposal">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strLVAuthToken" nillable="true" type="xs:string" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/GCCustomerPortalBL" minOccurs="0" name="objServiceResult" nillable="true" type="q3:ServiceResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveProposalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/GCCustomerPortalBL" minOccurs="0" name="objServiceResult" nillable="true" type="q4:ServiceResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHtmlReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strLVAuthToken" nillable="true" type="xs:string" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/GCCustomerPortalBL" minOccurs="0" name="objServiceResult" nillable="true" type="q5:ServiceResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHtmlReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/GCCustomerPortalBL" minOccurs="0" name="objServiceResult" nillable="true" type="q6:ServiceResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProposalData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strLVAuthToken" nillable="true" type="xs:string" />
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/GCCustomerPortalBL" minOccurs="0" name="objServiceResult" nillable="true" type="q7:ServiceResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProposalDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/GCCustomerPortalBL" minOccurs="0" name="objServiceResult" nillable="true" type="q8:ServiceResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCustomer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strLVAuthToken" nillable="true" type="xs:string" />
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/GCCustomerPortalBL" minOccurs="0" name="objServiceResult" nillable="true" type="q9:ServiceResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCustomerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/GCCustomerPortalBL" minOccurs="0" name="objServiceResult" nillable="true" type="q10:ServiceResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditCustomer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strLVAuthToken" nillable="true" type="xs:string" />
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/GCCustomerPortalBL" minOccurs="0" name="objServiceResult" nillable="true" type="q11:ServiceResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditCustomerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/GCCustomerPortalBL" minOccurs="0" name="objServiceResult" nillable="true" type="q12:ServiceResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ViewCustomer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strLVAuthToken" nillable="true" type="xs:string" />
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/GCCustomerPortalBL" minOccurs="0" name="objServiceResult" nillable="true" type="q13:ServiceResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ViewCustomerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/GCCustomerPortalBL" minOccurs="0" name="objServiceResult" nillable="true" type="q14:ServiceResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PolicyRenewal_GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strLVAuthToken" nillable="true" type="xs:string" />
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/GCCustomerPortalBL" minOccurs="0" name="objServiceResult" nillable="true" type="q15:ServiceResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PolicyRenewal_GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/GCCustomerPortalBL" minOccurs="0" name="objServiceResult" nillable="true" type="q16:ServiceResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PolicyRenewal_SaveData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strLVAuthToken" nillable="true" type="xs:string" />
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/GCCustomerPortalBL" minOccurs="0" name="objServiceResult" nillable="true" type="q17:ServiceResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PolicyRenewal_SaveDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/GCCustomerPortalBL" minOccurs="0" name="objServiceResult" nillable="true" type="q18:ServiceResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PolicyRenewal_SaveDataWithoutModification">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strLVAuthToken" nillable="true" type="xs:string" />
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/GCCustomerPortalBL" minOccurs="0" name="objServiceResult" nillable="true" type="q19:ServiceResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PolicyRenewal_SaveDataWithoutModificationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/GCCustomerPortalBL" minOccurs="0" name="objServiceResult" nillable="true" type="q20:ServiceResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CaculateRenewalPremium">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strLVAuthToken" nillable="true" type="xs:string" />
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/GCCustomerPortalBL" minOccurs="0" name="objServiceResult" nillable="true" type="q21:ServiceResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CaculateRenewalPremiumResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/GCCustomerPortalBL" minOccurs="0" name="objServiceResult" nillable="true" type="q22:ServiceResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FetchProposalXml">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strLVAuthToken" nillable="true" type="xs:string" />
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/GCCustomerPortalBL" minOccurs="0" name="objServiceResult" nillable="true" type="q23:ServiceResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FetchProposalXmlResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FetchProposalXmlResult" nillable="true" type="xs:string" />
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/GCCustomerPortalBL" minOccurs="0" name="objServiceResult" nillable="true" type="q24:ServiceResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FetchQuotationXml">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strLVAuthToken" nillable="true" type="xs:string" />
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/GCCustomerPortalBL" minOccurs="0" name="objServiceResult" nillable="true" type="q25:ServiceResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FetchQuotationXmlResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FetchQuotationXmlResult" nillable="true" type="xs:string" />
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/GCCustomerPortalBL" minOccurs="0" name="objServiceResult" nillable="true" type="q26:ServiceResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPolicyScheduleForPortal">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strLVAuthToken" nillable="true" type="xs:string" />
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/GCCustomerPortalBL" minOccurs="0" name="objServiceResult" nillable="true" type="q27:ServiceResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPolicyScheduleForPortalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetPolicyScheduleForPortalResult" nillable="true" type="xs:string" />
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/GCCustomerPortalBL" minOccurs="0" name="objServiceResult" nillable="true" type="q28:ServiceResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPayInSlipSchedule">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strLVAuthToken" nillable="true" type="xs:string" />
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/GCCustomerPortalBL" minOccurs="0" name="objServiceResult" nillable="true" type="q29:ServiceResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPayInSlipScheduleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetPayInSlipScheduleResult" nillable="true" type="xs:string" />
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/GCCustomerPortalBL" minOccurs="0" name="objServiceResult" nillable="true" type="q30:ServiceResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetECoverNoteForPortal">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strLVAuthToken" nillable="true" type="xs:string" />
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/GCCustomerPortalBL" minOccurs="0" name="objServiceResult" nillable="true" type="q31:ServiceResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetECoverNoteForPortalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetECoverNoteForPortalResult" nillable="true" type="xs:string" />
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/GCCustomerPortalBL" minOccurs="0" name="objServiceResult" nillable="true" type="q32:ServiceResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPolicyRenewalMinimumData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strLVAuthToken" nillable="true" type="xs:string" />
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/GCCustomerPortalBL" minOccurs="0" name="objServiceResult" nillable="true" type="q33:ServiceResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPolicyRenewalMinimumDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/GCCustomerPortalBL" minOccurs="0" name="objServiceResult" nillable="true" type="q34:ServiceResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorkSheet">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strLVAuthToken" nillable="true" type="xs:string" />
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/GCCustomerPortalBL" minOccurs="0" name="objServiceResult" nillable="true" type="q35:ServiceResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorkSheetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetWorkSheetResult" nillable="true" type="xs:string" />
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/GCCustomerPortalBL" minOccurs="0" name="objServiceResult" nillable="true" type="q36:ServiceResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRenewalNoticeHtml">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strLVAuthToken" nillable="true" type="xs:string" />
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/GCCustomerPortalBL" minOccurs="0" name="objServiceResult" nillable="true" type="q37:ServiceResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRenewalNoticeHtmlResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetRenewalNoticeHtmlResult" nillable="true" type="xs:string" />
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/GCCustomerPortalBL" minOccurs="0" name="objServiceResult" nillable="true" type="q38:ServiceResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveVehicleInspection">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strLVAuthToken" nillable="true" type="xs:string" />
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/GCCustomerPortalBL" minOccurs="0" name="objServiceResult" nillable="true" type="q39:ServiceResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveVehicleInspectionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/GCCustomerPortalBL" minOccurs="0" name="objServiceResult" nillable="true" type="q40:ServiceResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strLVAuthToken" nillable="true" type="xs:string" />
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/GCCustomerPortalBL" minOccurs="0" name="objServiceResult" nillable="true" type="q41:ServiceResult" />
        <xs:element minOccurs="0" name="str_num_policy_code" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strfile_name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strfile_extension" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="byte_stream" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UploadFileResult" type="xs:boolean" />
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/GCCustomerPortalBL" minOccurs="0" name="objServiceResult" nillable="true" type="q42:ServiceResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorkSheetForPortal">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strLVAuthToken" nillable="true" type="xs:string" />
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/GCCustomerPortalBL" minOccurs="0" name="objServiceResult" nillable="true" type="q43:ServiceResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorkSheetForPortalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetWorkSheetForPortalResult" nillable="true" type="xs:string" />
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/GCCustomerPortalBL" minOccurs="0" name="objServiceResult" nillable="true" type="q44:ServiceResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRenwalNoticeForPortal">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strLVAuthToken" nillable="true" type="xs:string" />
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/GCCustomerPortalBL" minOccurs="0" name="objServiceResult" nillable="true" type="q45:ServiceResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRenwalNoticeForPortalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetRenwalNoticeForPortalResult" nillable="true" type="xs:string" />
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/GCCustomerPortalBL" minOccurs="0" name="objServiceResult" nillable="true" type="q46:ServiceResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRenwalRejectionForPortal">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strLVAuthToken" nillable="true" type="xs:string" />
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/GCCustomerPortalBL" minOccurs="0" name="objServiceResult" nillable="true" type="q47:ServiceResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRenwalRejectionForPortalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetRenwalRejectionForPortalResult" nillable="true" type="xs:string" />
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/GCCustomerPortalBL" minOccurs="0" name="objServiceResult" nillable="true" type="q48:ServiceResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadClaimFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/GCCustomerPortalBL" minOccurs="0" name="objClaimPDA" nillable="true" type="q49:clsClaimPDA" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadClaimFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/GCCustomerPortalBL" minOccurs="0" name="UploadClaimFileResult" nillable="true" type="q50:clsClaimUploadResultSet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveDeatailQuote">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strLVAuthToken" nillable="true" type="xs:string" />
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/GCCustomerPortalBL" minOccurs="0" name="objServiceResult" nillable="true" type="q51:ServiceResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveDeatailQuoteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/GCCustomerPortalBL" minOccurs="0" name="objServiceResult" nillable="true" type="q52:ServiceResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocumentDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strAuthToken" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strReferenceNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strRefDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strBlockId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strProductCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strModeOfoperation" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strEndorsementCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strBusinessType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strApplicableDocs" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strCoverNoteNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strRsnForCancellation" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strCallLevel" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocumentDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/GCCustomerPortalBL" minOccurs="0" name="GetDocumentDetailsResult" nillable="true" type="q53:ServiceResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveDocumentDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strLVAuthToken" nillable="true" type="xs:string" />
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/GCCustomerPortalBL" minOccurs="0" name="objSaveDocData" nillable="true" type="q54:ArrayOfclsUWDocServiceResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveDocumentDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/GCCustomerPortalBL" minOccurs="0" name="SaveDocumentDetailsResult" nillable="true" type="q55:ServiceResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPolicyDocumentForPortal">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strLVAuthToken" nillable="true" type="xs:string" />
        <xs:element xmlns:q56="http://schemas.datacontract.org/2004/07/GCCustomerPortalBL" minOccurs="0" name="objServiceResult" nillable="true" type="q56:ServiceResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPolicyDocumentForPortalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetPolicyDocumentForPortalResult" nillable="true" type="xs:base64Binary" />
        <xs:element xmlns:q57="http://schemas.datacontract.org/2004/07/GCCustomerPortalBL" minOccurs="0" name="objServiceResult" nillable="true" type="q57:ServiceResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProposalFormForPortal">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strLVAuthToken" nillable="true" type="xs:string" />
        <xs:element xmlns:q58="http://schemas.datacontract.org/2004/07/GCCustomerPortalBL" minOccurs="0" name="objServiceResult" nillable="true" type="q58:ServiceResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProposalFormForPortalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetProposalFormForPortalResult" nillable="true" type="xs:base64Binary" />
        <xs:element xmlns:q59="http://schemas.datacontract.org/2004/07/GCCustomerPortalBL" minOccurs="0" name="objServiceResult" nillable="true" type="q59:ServiceResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveOpenCoverNote">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strLVAuthToken" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strProduct_Code" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strProposal_No" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strProposal_Date" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strWorkFlowId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="str_EngineNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strChassisNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strREGNO_1" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strREGNO_2" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strREGNO_3" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strREGNO_4" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strRegistrationNoNotRequired" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strRegdNoAsPerOldLogic" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strRiskStartDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strRiskEndDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="str_modeOfoperation" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="str_user_id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="str_userRole" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveOpenCoverNoteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveOpenCoverNoteResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveRouteCoverNote">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strLVAuthToken" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strChasisNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strEngineNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strRegistrationNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strOfficeCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strCustomerCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strFieldUserCD" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strCoverNoteNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strProducerCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveRouteCoverNoteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveRouteCoverNoteResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBasicPolicyDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strLVAuthToken" nillable="true" type="xs:string" />
        <xs:element xmlns:q60="http://schemas.datacontract.org/2004/07/GCCustomerPortalBL" minOccurs="0" name="objServiceResult" nillable="true" type="q60:clsBasicPolicyDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBasicPolicyDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q61="http://schemas.datacontract.org/2004/07/GCCustomerPortalBL" minOccurs="0" name="objServiceResult" nillable="true" type="q61:clsBasicPolicyDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveBatchProcessedFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strModule" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strFileName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strInwardId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strApplicationNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strCustomerId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strDocumentUniqueNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strPolicyNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strClaimNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strDocumentPath" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strOrgFilePath" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strFtpFolder" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strFtpPath" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strCMCDocUserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strCMCDocPwd" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strFTPUserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strFTPPwd" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveBatchProcessedFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveBatchProcessedFileResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PaymentEntry">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strLVAuthToken" nillable="true" type="xs:string" />
        <xs:element xmlns:q62="http://schemas.datacontract.org/2004/07/GCCustomerPortalBL" minOccurs="0" name="objServiceResult" nillable="true" type="q62:ServiceResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PaymentEntryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q63="http://schemas.datacontract.org/2004/07/GCCustomerPortalBL" minOccurs="0" name="objServiceResult" nillable="true" type="q63:ServiceResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PaymentAllocation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strLVAuthToken" nillable="true" type="xs:string" />
        <xs:element xmlns:q64="http://schemas.datacontract.org/2004/07/GCCustomerPortalBL" minOccurs="0" name="objServiceResult" nillable="true" type="q64:ServiceResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PaymentAllocationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q65="http://schemas.datacontract.org/2004/07/GCCustomerPortalBL" minOccurs="0" name="objServiceResult" nillable="true" type="q65:ServiceResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PaymentTagging">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strLVAuthToken" nillable="true" type="xs:string" />
        <xs:element xmlns:q66="http://schemas.datacontract.org/2004/07/GCCustomerPortalBL" minOccurs="0" name="objServiceResult" nillable="true" type="q66:ServiceResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PaymentTaggingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q67="http://schemas.datacontract.org/2004/07/GCCustomerPortalBL" minOccurs="0" name="objServiceResult" nillable="true" type="q67:ServiceResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>