PrjPASS/Service References/ServiceReference4/CustomerPortalService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DbUtility" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DbUtility" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://10.221.16.22/GCCustomerPortalServiceGateway/CustomerPortalService.svc?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="DataObjectClass">
    <xs:sequence>
      <xs:element minOccurs="0" name="AuthenticateID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContextSourceType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MessageID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TransactionID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserID" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="objCVHash" nillable="true" type="q1:ArrayOfKeyValueOfanyTypeanyType" />
      <xs:element minOccurs="0" name="objOraDB" nillable="true" type="xs:anyType" />
      <xs:element minOccurs="0" name="strCVAuthenticateId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DataObjectClass" nillable="true" type="tns:DataObjectClass" />
</xs:schema>