PrjPASS/Service References/ServiceReference3/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CMCDocsService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CMCDocsService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://10.221.16.23/CMCDocsService/Service1.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.IO" />
  <xs:complexType name="ArrayOfImagePath">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ImagePath" nillable="true" type="tns:ImagePath" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfImagePath" nillable="true" type="tns:ArrayOfImagePath" />
  <xs:complexType name="ImagePath">
    <xs:sequence>
      <xs:element minOccurs="0" name="Error" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ImgPath" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ImagePath" nillable="true" type="tns:ImagePath" />
  <xs:complexType name="ArrayOfImagePathDMS">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ImagePathDMS" nillable="true" type="tns:ImagePathDMS" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfImagePathDMS" nillable="true" type="tns:ArrayOfImagePathDMS" />
  <xs:complexType name="ImagePathDMS">
    <xs:sequence>
      <xs:element minOccurs="0" name="Error" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System.IO" minOccurs="0" name="ResponseMemoryStream" nillable="true" type="q1:MemoryStream" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ImagePathDMS" nillable="true" type="tns:ImagePathDMS" />
</xs:schema>