PrjPASS/Service References/GSTService/GCCommon.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCF_Partner_integration" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCF_Partner_integration" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="GSTBreakUpTaxDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="CGSTAmount" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CGSTPercentage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerGSTStateIdentifier" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ErrroMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IGSTAmount" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IGSTPercentage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IntermediaryGSTStateIdentifier" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SGSTAmount" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SGSTPercentage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TotalGSTAmount" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UGSTAmount" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UGSTPercentage" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GSTBreakUpTaxDetails" nillable="true" type="tns:GSTBreakUpTaxDetails" />
  <xs:complexType name="PolicyVerifcation">
    <xs:sequence>
      <xs:element minOccurs="0" name="CRNNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PolicyNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Response_Date_Time" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Success" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PolicyVerifcation" nillable="true" type="tns:PolicyVerifcation" />
</xs:schema>