PrjPASS/Service References/svcGCInternetProxy/CustomerPortalService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GCIntegrationServices.CMCDocsService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GCIntegrationServices.CMCDocsService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://10.221.12.124/GCInternetProxy/CustomerPortalService.svc?xsd=xsd9" namespace="http://schemas.datacontract.org/2004/07/System.ComponentModel" />
  <xs:complexType name="ArrayOfImagePath">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ImagePath" nillable="true" type="tns:ImagePath" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfImagePath" nillable="true" type="tns:ArrayOfImagePath" />
  <xs:complexType name="ImagePath">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System.ComponentModel" name="PropertyChanged" nillable="true" type="q1:PropertyChangedEventHandler" />
      <xs:element name="docExtensionField" nillable="true" type="xs:string" />
      <xs:element name="docIdField" nillable="true" type="xs:string" />
      <xs:element name="docNameField" nillable="true" type="xs:string" />
      <xs:element name="doc_TypeField" nillable="true" type="xs:string" />
      <xs:element name="documentTypeField" nillable="true" type="xs:string" />
      <xs:element name="errorField" nillable="true" type="xs:string" />
      <xs:element name="imgPathField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ImagePath" nillable="true" type="tns:ImagePath" />
  <xs:complexType name="ArrayOfImagePathDMS">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ImagePathDMS" nillable="true" type="tns:ImagePathDMS" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfImagePathDMS" nillable="true" type="tns:ArrayOfImagePathDMS" />
  <xs:complexType name="ImagePathDMS">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/System.ComponentModel" name="PropertyChanged" nillable="true" type="q2:PropertyChangedEventHandler" />
      <xs:element name="errorField" nillable="true" type="xs:string" />
      <xs:element name="responseBytesField" nillable="true" type="xs:base64Binary" />
      <xs:element name="responseMemoryStreamField" nillable="true" type="tns:MemoryStream" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ImagePathDMS" nillable="true" type="tns:ImagePathDMS" />
  <xs:complexType name="MemoryStream">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Stream">
        <xs:sequence>
          <xs:element name="_bufferField" nillable="true" type="xs:base64Binary" />
          <xs:element name="_capacityField" type="xs:int" />
          <xs:element name="_expandableField" type="xs:boolean" />
          <xs:element name="_exposableField" type="xs:boolean" />
          <xs:element name="_isOpenField" type="xs:boolean" />
          <xs:element name="_lengthField" type="xs:int" />
          <xs:element name="_originField" type="xs:int" />
          <xs:element name="_positionField" type="xs:int" />
          <xs:element name="_writableField" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MemoryStream" nillable="true" type="tns:MemoryStream" />
  <xs:complexType name="Stream">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:MarshalByRefObject">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Stream" nillable="true" type="tns:Stream" />
  <xs:complexType name="MarshalByRefObject">
    <xs:sequence>
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/System.ComponentModel" name="PropertyChanged" nillable="true" type="q3:PropertyChangedEventHandler" />
      <xs:element name="__identityField" nillable="true" type="xs:anyType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MarshalByRefObject" nillable="true" type="tns:MarshalByRefObject" />
  <xs:complexType name="ArrayOfImagePathDMSSearch">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ImagePathDMSSearch" nillable="true" type="tns:ImagePathDMSSearch" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfImagePathDMSSearch" nillable="true" type="tns:ArrayOfImagePathDMSSearch" />
  <xs:complexType name="ImagePathDMSSearch">
    <xs:sequence>
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/System.ComponentModel" name="PropertyChanged" nillable="true" type="q4:PropertyChangedEventHandler" />
      <xs:element name="docExtensionField" nillable="true" type="xs:string" />
      <xs:element name="docIdField" nillable="true" type="xs:string" />
      <xs:element name="docNameField" nillable="true" type="xs:string" />
      <xs:element name="doc_TypeField" nillable="true" type="xs:string" />
      <xs:element name="documentTypeField" nillable="true" type="xs:string" />
      <xs:element name="errorField" nillable="true" type="xs:string" />
      <xs:element name="imgPathField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ImagePathDMSSearch" nillable="true" type="tns:ImagePathDMSSearch" />
</xs:schema>