PrjPASS/Service References/PdfService/KGIService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="KGIService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpsBinding_IKGIService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="https://kgi-p-app-bridge-1-v126/KGIService/KGIService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="https://kgi-p-app-bridge-1-v126/KGIService/KGIService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IKGIService_KGIGetPolicyDocumentForPortal_InputMessage">
    <wsdl:part name="parameters" element="tns:KGIGetPolicyDocumentForPortal" />
  </wsdl:message>
  <wsdl:message name="IKGIService_KGIGetPolicyDocumentForPortal_OutputMessage">
    <wsdl:part name="parameters" element="tns:KGIGetPolicyDocumentForPortalResponse" />
  </wsdl:message>
  <wsdl:message name="IKGIService_KGIGetPolicyDocumentForPASS_InputMessage">
    <wsdl:part name="parameters" element="tns:KGIGetPolicyDocumentForPASS" />
  </wsdl:message>
  <wsdl:message name="IKGIService_KGIGetPolicyDocumentForPASS_OutputMessage">
    <wsdl:part name="parameters" element="tns:KGIGetPolicyDocumentForPASSResponse" />
  </wsdl:message>
  <wsdl:message name="IKGIService_KGIGetProposalStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:KGIGetProposalStatus" />
  </wsdl:message>
  <wsdl:message name="IKGIService_KGIGetProposalStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:KGIGetProposalStatusResponse" />
  </wsdl:message>
  <wsdl:message name="IKGIService_KGIGetProposalStatusByPartnerApplicationNumber_InputMessage">
    <wsdl:part name="parameters" element="tns:KGIGetProposalStatusByPartnerApplicationNumber" />
  </wsdl:message>
  <wsdl:message name="IKGIService_KGIGetProposalStatusByPartnerApplicationNumber_OutputMessage">
    <wsdl:part name="parameters" element="tns:KGIGetProposalStatusByPartnerApplicationNumberResponse" />
  </wsdl:message>
  <wsdl:message name="IKGIService_AuthenticateUser_InputMessage">
    <wsdl:part name="parameters" element="tns:AuthenticateUser" />
  </wsdl:message>
  <wsdl:message name="IKGIService_AuthenticateUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:AuthenticateUserResponse" />
  </wsdl:message>
  <wsdl:message name="IKGIService_ConvertLongURLToShortURL_InputMessage">
    <wsdl:part name="parameters" element="tns:ConvertLongURLToShortURL" />
  </wsdl:message>
  <wsdl:message name="IKGIService_ConvertLongURLToShortURL_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConvertLongURLToShortURLResponse" />
  </wsdl:message>
  <wsdl:portType name="IKGIService">
    <wsdl:operation name="KGIGetPolicyDocumentForPortal">
      <wsdl:input wsaw:Action="http://tempuri.org/IKGIService/KGIGetPolicyDocumentForPortal" message="tns:IKGIService_KGIGetPolicyDocumentForPortal_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKGIService/KGIGetPolicyDocumentForPortalResponse" message="tns:IKGIService_KGIGetPolicyDocumentForPortal_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="KGIGetPolicyDocumentForPASS">
      <wsdl:input wsaw:Action="http://tempuri.org/IKGIService/KGIGetPolicyDocumentForPASS" message="tns:IKGIService_KGIGetPolicyDocumentForPASS_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKGIService/KGIGetPolicyDocumentForPASSResponse" message="tns:IKGIService_KGIGetPolicyDocumentForPASS_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="KGIGetProposalStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/IKGIService/KGIGetProposalStatus" message="tns:IKGIService_KGIGetProposalStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKGIService/KGIGetProposalStatusResponse" message="tns:IKGIService_KGIGetProposalStatus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="KGIGetProposalStatusByPartnerApplicationNumber">
      <wsdl:input wsaw:Action="http://tempuri.org/IKGIService/KGIGetProposalStatusByPartnerApplicationNumber" message="tns:IKGIService_KGIGetProposalStatusByPartnerApplicationNumber_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKGIService/KGIGetProposalStatusByPartnerApplicationNumberResponse" message="tns:IKGIService_KGIGetProposalStatusByPartnerApplicationNumber_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AuthenticateUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IKGIService/AuthenticateUser" message="tns:IKGIService_AuthenticateUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKGIService/AuthenticateUserResponse" message="tns:IKGIService_AuthenticateUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConvertLongURLToShortURL">
      <wsdl:input wsaw:Action="http://tempuri.org/IKGIService/ConvertLongURLToShortURL" message="tns:IKGIService_ConvertLongURLToShortURL_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKGIService/ConvertLongURLToShortURLResponse" message="tns:IKGIService_ConvertLongURLToShortURL_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IKGIService" type="tns:IKGIService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="KGIGetPolicyDocumentForPortal">
      <soap:operation soapAction="http://tempuri.org/IKGIService/KGIGetPolicyDocumentForPortal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="KGIGetPolicyDocumentForPASS">
      <soap:operation soapAction="http://tempuri.org/IKGIService/KGIGetPolicyDocumentForPASS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="KGIGetProposalStatus">
      <soap:operation soapAction="http://tempuri.org/IKGIService/KGIGetProposalStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="KGIGetProposalStatusByPartnerApplicationNumber">
      <soap:operation soapAction="http://tempuri.org/IKGIService/KGIGetProposalStatusByPartnerApplicationNumber" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AuthenticateUser">
      <soap:operation soapAction="http://tempuri.org/IKGIService/AuthenticateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConvertLongURLToShortURL">
      <soap:operation soapAction="http://tempuri.org/IKGIService/ConvertLongURLToShortURL" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpsBinding_IKGIService" type="tns:IKGIService">
    <wsp:PolicyReference URI="#BasicHttpsBinding_IKGIService_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="KGIGetPolicyDocumentForPortal">
      <soap:operation soapAction="http://tempuri.org/IKGIService/KGIGetPolicyDocumentForPortal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="KGIGetPolicyDocumentForPASS">
      <soap:operation soapAction="http://tempuri.org/IKGIService/KGIGetPolicyDocumentForPASS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="KGIGetProposalStatus">
      <soap:operation soapAction="http://tempuri.org/IKGIService/KGIGetProposalStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="KGIGetProposalStatusByPartnerApplicationNumber">
      <soap:operation soapAction="http://tempuri.org/IKGIService/KGIGetProposalStatusByPartnerApplicationNumber" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AuthenticateUser">
      <soap:operation soapAction="http://tempuri.org/IKGIService/AuthenticateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConvertLongURLToShortURL">
      <soap:operation soapAction="http://tempuri.org/IKGIService/ConvertLongURLToShortURL" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="KGIService">
    <wsdl:port name="BasicHttpBinding_IKGIService" binding="tns:BasicHttpBinding_IKGIService">
      <soap:address location="http://kgi-p-app-bridge-1-v126/KGIService/KGIService.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpsBinding_IKGIService" binding="tns:BasicHttpsBinding_IKGIService">
      <soap:address location="https://kgi-p-app-bridge-1-v126/KGIService/KGIService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>