PrjPASS/Service References/PdfService/KGIService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="KGIGetPolicyDocumentForPortal">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AccessKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PolicyNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ProductCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ErrorMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KGIGetPolicyDocumentForPortalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="KGIGetPolicyDocumentForPortalResult" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="ErrorMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KGIGetPolicyDocumentForPASS">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AccessKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PolicyNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ProductCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="InputProposalNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ErrorMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KGIGetPolicyDocumentForPASSResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="KGIGetPolicyDocumentForPASSResult" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="ErrorMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KGIGetProposalStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AccessKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ProposalNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PolicyNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ProposalStatus" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ErrorMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KGIGetProposalStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PolicyNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ProposalStatus" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ErrorMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KGIGetProposalStatusByPartnerApplicationNumber">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AccessKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PartnerApplicationNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PolicyNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ProposalNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ProposalStatus" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ErrorMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KGIGetProposalStatusByPartnerApplicationNumberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PolicyNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ProposalNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ProposalStatus" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ErrorMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthenticateUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="IsInternal" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthenticateUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AuthenticateUserResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConvertLongURLToShortURL">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AccessKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="LongURL" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConvertLongURLToShortURLResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ConvertLongURLToShortURLResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="ShortURL" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>